$main-bg-color: #FFD662FF;
$secondary-bg-color: rgba(0, 11, 50, 0.73);
$item-bg-color: #5199ff;
$item-bg-color-hover: #396aba;

body {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
	background-color: $main-bg-color;
}

h1 {
	font-family: "Montserrat", sans-serif;
}

p {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.navbar {
	background-color: $secondary-bg-color;
}

.navbar a {
	color: #fff !important;
	/*bootstrap overrides colour otherwise*/
}

.project-showcase-container {
	color: #fff;
	padding: 3%;
	margin: 1% 4% 2%;
	background-color: $item-bg-color;
	border-radius: 7%;
	text-align: center;
	font-size: 28px;
}

.project-showcase-container:hover {
	background-color: $item-bg-color-hover;

	.img-rounded {
		text-align: center;
	}
}

#projects-showcase-grid {
	text-align: center;
}

#home {
	padding: 3%;
	text-align: center;
}

#about {
	padding: 3%;
}

#portfolio {
	padding: 3%;
	text-align: center;
}

#contact {
	padding: 3%;
	text-align: center;
}
