
body {
    position:relative;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Ubuntu", sans-serif;
    background-color: #f0b660;
}

h1 {
    font-family: "Ubuntu Light", sans-serif;
}

p {
    font-size: medium;
}

.navbar {
    background-color: #4c4386;
}

.navbar a {
    color: #fff !important;
    /*bootstrap overrides colour otherwise*/
}

.navbar a:hover {
    background-color: #340c4a !important;
    /*bootstrap overrides colour otherwise*/
}

.project-showcase-container {
    color: #fff;
    padding: 3%;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    background-color: #8e1eff;
    border-radius: 7%;
    text-align: center;
}

.project-showcase-container:hover{
    background-color: #4b1c96;
}

#projects-showcase-grid {
    text-align: center;
}

#home-menu-item {
    background-color: #340c4a;
}

#home {
    padding: 3%;
    text-align: center;
}

#about {
    padding: 3%;
}

#portfolio {
    padding: 3%;
    text-align: center;
}

#contact {
    padding: 3%;
    text-align: center;
}